.DS_Store

application/config/config.php
application/config/database.php
application/logs/*
vendor/
phpstorm.php

# IDE Files
#-------------------------
/nbproject/
.idea/*
git s
## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.idea/
