@charset "utf-8";
/* CSS Document */
.ad_category{background:#69F;margin-top:10px;padding:5px 5px 5px;color:white}

.main_cat{color:#036;font-weight:600}

.cat_description{color:white;}

.cat_description:hover{color:black}

.warning_tips{border:1px solid;border-radius:8px;margin-top:10px;}

.warning_tips p{color:red}

.ad_info i{font-size:28px;}
.ad_info > div{display:inline}

.double{
  white-space: pre;
 }

 .ad_info{min-height:75px;margin-top:10px;padding-top:5px;padding-bottom:10px;border:1px solid;}

.ad_info > div img{height:35px;width:25px}

#fake_report a{color:red}

#fake_report{padding-left:15px}

#status{padding-left:15px}

#online{color:green}

#clock{color:blue}

#view{padding-left:15px;}

.expiry_date{padding-left:15px}

#date{padding-left:15px}
#favourite{padding-left:15px}

#sold{float:right;position:absolute;max-width:100px;max-height:100px;}

#ad_img{max-height:400px;width:100%;margin:auto;display:block}

.ad_image{margin-top:10px;border:1px solid;}

#ad_spec{background:#099;margin-top:10px;font-size:24px;padding-left:10px;color:black}

.ad_spec_sub{border:1px solid;height:700px;margin-bottom:10px;}

.ad_detail_price{font-size:24px;color:#309;font-weight:700}

.ad_detail_title{font-size:20px;color:#090}

.ad_written_spec{padding-left:10px;}

.status{color:red;margin-left:20px;}

.bought_from{color:#339;}

.written_from{border:1px solid;padding-left:20px}

.ad_owner_details{background:#CCC;padding:10px 20px 10px;margin:10px;}

.ad_owner_details {color:#333}

.ad_id{font-size:12px}

.ad_owner_name{font-weight:800}

.verified{color:#0C0}

.unverified{color:red}

.a_visit_owner{color:#0c0;font-size:18px}

.send_email_title{background:#09F}

.send_email_title a{color:white;margin-left:10px;font-weight:600}

.send_email{border:1px solid;margin:10px;}

.send_email form{padding-left:10px;}

.email_send input{width:100%;border-radius:8px;border:1px solid}

.email_send textarea{width:100%;border-radius:8px;border:1px solid}

.email_send{border-collapse:separate; 

border-spacing:5px;}

.email_send button{background:#1077bc;color:white;border-radius:8px;}



.video_ad{margin:10px;border:1px solid}

.video_ad video{margin:5px;width:167px; height:180px;border-radius:10px}

.question_section{border:1px solid;margin:10px;}

.question_answer_section{overflow-y: scroll; height:250px;}

.question_title{background:#06C;height:auto}

.question_title a{color:white}

.post{float:right;text-decoration:underline}

.ask{font-weight:600}

.question_section question:before{content:'Q. '}

.question_section answer{color:green;padding-left:10px;}

.question_section answer:before{content:'A. '}

.map_section{border:1px solid;height:200px;margin:10px}

#slider1_container{
	
	height:120px;
	overflow: hidden;
	position:relative;
	width:100%;

	}
	
.ad_image_section img{height:120px;width:115px;border:1px solid;}

.ad_img_slider{border:1px solid;margin-top:10px;}