@charset "utf-8";
/* CSS Document */

a {color: #000;  }
a:hover{text-decoration:none}
/*header*/
.navbar-toggle{background:black}
nav{background:#1077b2;color:white}
.menu{border-radius:8px; float:right;}
#myNavbar{background:#1077b2;color:white; }
#myNavbar ul li a{color:white;font-size:14px;margin:0px;}
#myNavbar ul li a:hover{opacity: 0.9; background-color: #1077b2; }
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 9px;
}
#menuid{background:#1077b2;color:white}
/*.ads_number{margin-top:10px}*/
.ads_number {margin:3px 0; font-size: 12pt;}
.ads_number li{list-style-type:none;float:right}
.ads_number li a{margin-right:15px;color:#333;text-decoration:none}

/*add section*/
#left{display:inline-block;border:1px solid black;height:100px}
#right{display:inline-block;height:100px}
#right img{max-height:100%;width:99%;border:1px solid black;float:right}
#left img{max-height:100%;width:99%;border:1px solid black;float:left}

#drop1{color:#808080}
.submenu{display:none}
.submenu_block{display:block}
.sub2menu1{display:none}
.sub2menu1_block{display:block}
li.dropdown:hover > ul.submenu{
	display:block;
	}
.banner{margin-top:10px;margin-bottom:10px}
.banner img{max-width:100%;max-height:100%;margin:auto;display:block}
.video video{width:100%}
.left_block > div{width:98%}

.search_bar{background:#1077b2;display:inline-block;width:100%;border-radius:5px;padding-left:5px;}
#drop2{margin-left:10px;width:20%;margin-right:10px;font-size:18px;margin:5px}
.search{width:30%;margin:5px;font-size:16px;}
#search_btn{margin-left:10px;margin-right:10px;font-size:18px;margin:5px;border-radius:7px}
#ad_btn{float:right;background:#FC0;font-size:19px;width:32%;margin:5px;border-radius:8px}
#up{height:121px}
#down{height:121px;margin-top:10px}
#down img{height:100%;width:100%;border:1px solid #1077b2; }
#up img{height:100%;width:100%;border:1px solid #1077b2; }


#myCarousel{width:99%;float:right;border:1px solid #1077b2;}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
	  height:250px}
.icon{font-size:90px;margin-top:100px}
#banner_section{height:250px;margin-top:5px}
.small_banner{height:100%}
.display1{height:102px;}



#test{color:white;float:right;margin-right:20px;}
#list li{list-style-type:none;color:black;font-weight:300;}

.dealer_list_topic{background:#999;color:white;padding:5px;font-size:14px;display:inline-block;width:100%}

#list{-moz-column-count: 4;
-moz-column-gap: 20px;
-webkit-column-count: 4;
-webkit-column-gap: 20px;
column-count: 4;
column-span: all;
column-gap: 20px;
font-size: 11pt;
list-style-type: none;
text-decoration: none;
overflow: hidden;
margin: 0;
padding: 5px 20px;
color: #03C;}

#dealer_logo{background:#999;}
#dealer_logo a{color:white;margin-left:20px;font-size:18px}
.dealer_listing{margin-bottom:20px;border:1px solid #999;background:#CCC;}

.listing {
    background-color: #ccc;
    height:200px;
}
.listing ol {
    margin: 0;
    padding: 20px;
}
.listing div strong {text-decoration: underline;}

.logosl{border:1px solid #999;margin-bottom:20px}

.child{-moz-column-count: 2;
-moz-column-gap: 10px;
-webkit-column-count: 2;
-webkit-column-gap: 10px;
column-count: 2;
column-span: all;
column-gap: 10px;
list-style-type: none;
text-decoration: none;
overflow: hidden;
}

.popular {color:#000; background:#CCC;border-radius:0px; padding:10px; border: 1px rgba(10, 76, 114, 0.6) solid; height:200px;}
.popular_title {text-align: center;}

.history{margin-top:20px;}
.history h4{color:#360;}
.a_history{float:right}
.history_section{border:1px solid;color:#390;}
.history_section img{height:150px;width:150px}
.history_section li{list-style-type:none;display:inline-block;text-align:center}
.history_section .title{color:#036;text-align:center}
.history_section .title .sub{color:#333}
.history_title{display:inline;font-size:14px; padding:10px;}
.history_title a{color:#360}
.down_menu{text-align:center;margin-top:10px;}
.down_menu li{display:inline-block;font-size:16px}

.down_menu li a{color:#333;}

#grid1 li{min-height:200px;}

.copy_right{display:block;margin-top:10px;text-align:center;}
.copy_right a{color:#666;font-size:16px;margin-right:10px;}
.copy_right li{list-style-type:none;}

.info:hover{color:white}

#range{display:list-item;list-style-type:none}

#filter{margin: 5px 0; height:auto; clear: both; padding:10px;}
.tt{
    color: #73AD21;
    font-size: 20px;
}
.tt:hover{color:#73ad21;text-decoration:none}
.st{
    color: grey;
    font-size: 18px;
    padding-left: 20px;
}
.st:hover{color:#73ad21;text-decoration:none}

hr.clas1 { width:60%; height:1px; color: #73AD21;float:  right ;margin-right: 10px;margin-top: 15px;}
hr.clas2 { width:75%; height:1px; color: #73AD21;float:  right;margin-right: 5px;margin-top: 15px; }


/*Category display css*/
.category_display{background:#CC6;padding-bottom:15px;border-radius:8px;overflow: hidden;margin-bottom:10px;margin-top:10px;}
.category_display h4{padding-left:20px;}
.subcategory_display{width:98%;height:90%;margin:auto;display:block;background:white;border-radius:8px;overflow-x:scroll;
white-space: nowrap;}
.subcategory_display ul{display:inline-block;-moz-column-count: 3;
-moz-column-gap: 10px;
-webkit-column-count: 3;
-webkit-column-gap: 10px;
column-count: 3;
column-span: all;
column-gap: 10px;
list-style-type: none;
text-decoration: none;

margin-bottom:0px;
padding-left:4px;

padding-top:23px;
}

.subcategory_display ul li{}
.heading{color:red;text-decoration:underline;font-size:18px;font-weight:600}
.filter_dropdown{color:white}

.back-to-top{background:#1077bc;font-size:16px}
.default_button{background:#1077bc;color:white;border-radius:8px;text-align:center;margin-left:20px;}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #1077bc;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}

.red{color:red}
.green{color:green}
.bold{font-weight:700}
.underline{text-decoration:underline}



.category0,.category1,.category2{list-style-type:none;}

.category0 li a,.category1 li a,.category2 li a{text-decoration:none;color:#000;font-size:16px;font-weight:500}
.category0 li a:hover, .category1 li a:hover, .category2 li a:hover {  opacity:0.8;  }

.partners {position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 80px; overflow: hidden; visibility: hidden;clear: both;}
.partners_slider {cursor: default; position: relative; left: 0px; width: 1000px; height: 80px; overflow: hidden;clear: both;}
.navbar {margin:0px;}

#slider-snap {
    margin: 0 5px;
}

.left_block form {
    padding: 0;
}

.price_slider {
    text-align: center;
}

.price_slider input {
    margin: 10px 0;
    border: 0px solid;
}

.price_slider button {
    text-align: center;
}

#max_price, #min_price {
    display: none;
}

.noUi-draggable {
    background: #1077b2;
 }

#display_cname {
    text-decoration: none;
    font-weight: 100;
}