@charset "utf-8";
/* CSS Document */
@media (max-width:767px){
	body{margin:10px}
#myNavbar ul .divider{display:none}	
	#drop2{margin-left:10px;width:auto;margin-right:10px;font-size:18px;margin:5px}
.search{width:auto;margin:5px;font-size:16px;}
#search_btn{margin-left:10px;margin-right:10px;font-size:18px;margin:5px}
#ad_btn{float:right;background:#FC0;font-size:19px;width:auto;margin:5px;}
	
.select_section{width:100%;float:left}	
.search_section{width:100%;float:left}
.section_wrap{display:block}
	
	}

