.setup-content,.setup-content a{color: #333; font-size:14px;}

.control-form { border: 1px solid #ccc; border-radius: 10px; padding:20px; width:320px; margin:50px auto; }

.control-form h3 {background-color: #1077bc; color: #fff;text-align: center; margin:0px; padding:20px;}

.control-form input {margin:15px 0;}

.lost{color: blue; text-decoration: underline; padding: 5px;}

@media (min-width:767px){
    .login{align-items: center;
        display: flex;
        justify-content: center;
    }
}